@charset "UTF-8";
.iby-index{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    .iby-index-bg{
        width: 100%;
        height: 100%;
        background: url("/images/index/BG.png") no-repeat;
        background-size: 100% 100%;
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .iby-index-btn{
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 50%;
        padding: 0 0 9% 0;
        margin: 0 0 0 -40%;
    }

    .iby-index-btn img{
        margin: 0 0 10px 0;
    }
}

.iby-start{
    height: 100%;
    background: #72726a;
    .iby-start-tit{
        height: 100px;
        background: #796121;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 100px;
    }
    .iby-time{
        height:75px;
        background: #cdcdcd;
        font-size: 20px;
        margin: 10px 0 0 0;
        color: #EB6261;
        letter-spacing: 20px;
        text-align: center;
        line-height: 75px;
    }

    .iby-msg-con{
        color: #F56200;
        position: absolute;
        z-index: 9999999;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        text-align: center;
        font-size: 20px;
        line-height: 1.8em;
        &#msg{
            display: none;
        }
        #start{
            margin: 60% 0 0 0;
        }
        .iby-msg-1{
            height: 100px;
            line-height: 100px;
            font-size: 26px;
        }

        .iby-msg-2{
            margin: 80px 0;
            color: #f5ba1f;
            font-size: 36px;
        }

        .iby-msg-3{
            a{
                color: #F56200;
            }

            .iby-msg-3-l{
                float: left;
                width: 50%;
                text-align: right;
                img{
                    width: 80%;
                    margin:0 5px 0 0;
                }
            }

            .iby-msg-3-r{
                float: left;
                width: 50%;
                text-align: left;
                img{
                    width: 80%;
                    margin:0 0 0 5px;
                }
            }
        }

        .goLuckyDraw{
            text-align: right;
            width: 240px;
            height: 168px;
            margin: 50px auto 0 auto;
            img{
                width: 240px;
                height: 168px;
            }
        }

    }

    .shareImg{
        text-align: right;
        padding: 10px 20px 0 0;
        img{
            width: auto;
            height: auto;
        }
    }
}

/*抽奖start*/
.luckydraw-details{
    width: 100%;
    height: auto;
    background: url('../images/luckydraw/BG_2.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    .iby-draw-tit{
        width: 80%;
        margin: 0 auto 0 auto;
        padding: 50px 0 0 0;
    }
    .draw-change{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5px;
        left: 0;
        text-align: center;
        z-index: 2;
        font-weight: bold;
    }

    .draw-con-bg{
        width: 100%;
        height: 100%;
        min-height: 667px;
        text-align: center;
    }
    .draw-con-bg img{
        height: 667px;
    }

    .draw-con ul{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .draw-con ul li{
        float: left;
        list-style-type: none;
        position: relative;
        &.draw-li-bg{
            background: #b76116;
            border: 5px solid #a04c04;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .draw-con ul li p.draw-default{
        background: rgba(0, 0, 0, 0.7);
        /*    background: rgba(255, 255, 255, 0.7);*/
        position: absolute;
        width: 100%;
        height:100%;
        left: 0;
        top:0;
    }
    .draw-con ul li.draw-click{
        cursor: pointer;
        border: none;
        background: #a04c04;
        position: relative;
        .luck-draw_btn1{
            width: 100%;
            height: 90%;
            position: absolute;
            left: 0;
            bottom: 2px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .luck-draw_btn2{
            width: 100%;
            height: 90%;
            position: absolute;
            left: 0;
            top:2px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .draw-cur {
        height: 32px;
        position: absolute;
        top: 0;
        left: 50%;
    }
    .draw-cur ul{
        margin: 0;
        padding: 0;
    }
    .draw-cur ul li{
        list-style: none;
        float: left;
        height: 35px;
    }
    .draw-cur ul li.mr10{
        margin-right: 10px;
    }
    .draw-cur ul li a{
        display: block;
        height: 100%;
        width: 100%;
    }
    .draw-list{
        max-height: 100%;
        overflow: hidden;
        height: auto;
    }
    .draw-list-con{
        background: #a04c04;
        max-height: 150px;
        overflow: hidden;
        .draw-list-tit{
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #f5ba1f;
        }
        .list-line{
            border: 1px solid #b5611b;
        }
        ul{
            padding: 0;
            margin: 0;
            &.list-ul2{
                padding: 5px 0;
            }
            .list-ul2 li{
                color: #fff;
                font-size: 14px;
                height: 20px;
                line-height: 20px;
                font-family: "Microsoft Yahei";
            }
            li{
                padding: 0 0 0 10px;
                margin: 0;
                float: left;
                list-style: none;
                text-align: left;
                overflow: hidden;
                color: #ffffff;
                &.list-w-50{
                    width: 30%;
                }
                &.list-w-50{
                    width: 40%;
                }
                &.list-prize{
                    color: #f5ba1f;
                }
            }
        }
    }

    .upload-li{
        position: relative;
    }
    .upload-image {
        position: absolute;
        top: 0;
        height: 100%;
        line-height: 50px;
        z-index: 200;
        left: 0;
        width: 100%
    }
    .upload-image div {
        width: 100%;
        height: 100%
    }

    .draw-con-bg img{
        width: 320px;
    }

    .draw-con{
        width: 80%;
        margin: 30px auto 40px auto;
        box-sizing: border-box;
    }

    .draw-con ul li{
        width: 25%;
        height: 55px;
        box-sizing: border-box;
    }

    .draw-con ul li.draw-click{
        width: 50%;
    }

    .draw-cur {
        width: 150px;
        margin: 253px 0 0 -75px;
    }

    .draw-cur ul li{
        width: 70px;
    }

    .draw-list{
        width:80%;
        margin:  0 auto  0 auto;
    }

    .draw-msg-box{
        position: absolute;
        display: none;
        top:0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0,0.6);
        .goLuckyDraw{
            text-align: right;
            width: 240px;
            height: 168px;
            margin: 50px auto 0 auto;
            img{
                width: 240px;
                height: 168px;
            }
        }
    }

    .shareImg{
        text-align: right;
        padding: 10px 20px 0 0;
        img{
            width: auto;
            height: auto;
        }
    }

    .draw-msg{
        position: absolute;
        width: 80%;
        background: #fff;
        top:10%;
        left: 50%;
        margin: 0 0 0 -40%;
        .draw-msg-tit{
            img{
                width: 100%;
            }
        }

        .draw-msg-img{
            height: 40%;
            text-align: center;
            padding: 10px 0;
            img{
                max-width: 100px;
                max-height:100%;
            }
        }

        .draw-msg-con{
            width: 80%;
            margin:  0 auto;
            p{
                font-size: 14px;
                color: #c28e01;
            }
        }

        .draw-msg-con-sm{
            width: 80%;
            margin:  0 auto;
            p{
                font-size: 12px;
                line-height: 18px;
                color: #c28e01;
            }
        }

        .draw-msg-con-dh{
            width: 80%;
            margin:  0 auto;
            p{
                font-size: 12px;
                line-height: 18px;
                color: #a0a0a0;

                &.center{
                    margin: 10px 0 20px 0;
                }

                span{
                    font-size: 14px;
                    &.fc1{
                        color: #f5ba1f;
                    }
                    &.fc2{
                        color: #785700;
                    }
                }
            }
        }

        .draw-msg-prize{
            text-align: center;
            padding: 22px;
            line-height: 25px;
            color: #ff7900;
            font-size: 14px;
        }

        .draw-msg-btn{
            text-align: center;
            margin: 20px 0;
            img{
                width: 80%;
            }
        }

        .draw-msg-input{
            width: 80%;
            margin:  0 auto;
            input,textarea{
                width: 100%;
                background: #e7e7e7;
                border: none;
                padding: 0 15px;
                box-sizing: border-box;
                font-size: 14px;
                color: #9c9c9c;
                line-height: 35px;
            }

            input{
                height: 35px;
                border-bottom: 1px solid #9c9b99;
            }

            textarea{
                height: 70px;
            }
        }
    }
}

#luckydraw-history .luckydraw-list{
    padding:10px;
}

#luckydraw-history .luckydraw-list ul{
    padding: 10px 0;
    clear: both;
}

#luckydraw-history .luckydraw-list ul li{
    padding: 0 3px;
    float: left;
    color: #fff;
    list-style: none;
    font-size: 14px;
}

#luckydraw-history .yellowLine{
    border-bottom: 1px solid #FFC72B;
    float: left;
    width: 50%;
}
/*抽奖 end*/


//奖励规则start
.iby-rules{
    width: 100%;
    height: 100%;
    background: url("/images/luckydraw/BG.png") no-repeat;
    background-size: 100% 100%;
    img{
        width: 90%;
        bottom: 55px;
        position: fixed;
        left: 5%;
    }
}
//奖励规则end