<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/i-eBei.css' />
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div id="luckydraw-details" ng-controller="luckydraw">
    <div class="draw-bg">
        <img src="/images/luckydraw/luckydraw.jpg" alt="">
    </div>
    <div class="draw-con-bg">
        <img src="/images/luckydraw/draw.png" alt="">
    </div>
    <div class="draw-con">
        <ul id="draw-con-ul">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li class="draw-click" ng-click="checkDrawNum($event)" title="开始抽奖"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="draw-cur">
            <ul>
                <li class="mr10 upload-li">
                    <!--                <a href="#1" title="继续助力">&nbsp;</a>-->
                    <div class="upload-image" ng-show="isBind && isLoggedIn">
                        <div class="upload-image" ng-show="!isAndroid" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-multiple="false"></div>
                        <input ng-show="isAndroid" class="weChatInput" type="file" accept="image/*" fileread="file" onclick="_hmt.push(['_trackEvent', '底部导航', '参赛']);"/>
                    </div>
                <li><a href="#/" title="返回首页">&nbsp;</a></li>
            </ul>
        </div>
    </div>

    <div class="draw-list">
        <div class="draw-list-con">
            <ul class="list-ul1 list-h-25">
                <li class="list-w-30">中奖人</li>
                <li class="list-w-30">中奖时间</li>
                <li class="list-w-40">奖品</li>
            </ul>
            <div class="list-line"></div>
            <div style="height:70px; overflow:hidden;">
                <div class="drawList" id="marquee">
                    <ul class="list-ul2">
                        <li class="list-w-30" ng-bind="draw.name">小笨蛋</li>
                        <li class="list-w-30">2016.04.22</li>
                        <li class="list-w-40" ng-bind="draw.lotteryName">华为手机</li>
                    </ul>
                    <ul class="list-ul2">
                        <li class="list-w-30" ng-bind="draw.name">小笨蛋</li>
                        <li class="list-w-30">2016.04.22</li>
                        <li class="list-w-40" ng-bind="draw.lotteryName">华为手机</li>
                    </ul>
                    <ul class="list-ul2">
                        <li class="list-w-30" ng-bind="draw.name">小笨蛋</li>
                        <li class="list-w-30">2016.04.22</li>
                        <li class="list-w-40" ng-bind="draw.lotteryName">华为手机</li>
                    </ul>
                    <ul class="list-ul2">
                        <li class="list-w-30" ng-bind="draw.name">小笨蛋</li>
                        <li class="list-w-30">2016.04.22</li>
                        <li class="list-w-40" ng-bind="draw.lotteryName">华为手机</li>
                    </ul>
                </div>
            </div>


            <div style="clear:both"></div>
        </div>
    </div>
</div>
<style>
    #marquee{line-height: 20px;margin:0}
</style>
<script>

    var drawFalg = true;
    var drawIndex = 0;
    var timeIndex = 1;
    var drawArr = [0, 1, 2, 3, 6, 10, 9, 8, 7, 4];
    var drawList = $('#draw-con-ul li');
    var drawOn = 0;
    drawResults = [{code:'ZZZZZ'}];

    if(drawResults){
        switch(drawResults[0].code){
            case '1032':
                drawOn = 321;       //E农春天9折优惠券
                break;
            case 'ZZZZZ':
                drawOn = 331;       //谢谢参与
                break;
            case 'Z0002':
                drawOn = 341;       //书（38）
                break;
            case '10008':
                drawOn = 351;       //本来生活50元年货券
                break;
            case '10003':
                drawOn = 361;       //华为手机
                break;
            case '1026':
                drawOn = 371;       //WHS沃海森200元代金券
                break;
            case '10011':
                drawOn = 381;       //温可馨肚皮舞培训学校500元体验卡或3000元助学基金
                break;
            case 'Z0001':
                drawOn = 391;       //书（58各）
                break;
            case '10009':
                drawOn = 401;       //百度外卖随机代金券
                break;
            case '10001':
                drawOn = 411;       //苏泊尔真入味无涂层微压炒锅YW30C1
                break;
            default:
                drawOn = 0;
                break;

        }
    }

    eachDraw();


    //抽奖过程
    function eachDraw(){
        timeIndex+=10;
        if(timeIndex<drawOn){
            setTimeout(function(){
                if(drawIndex == 10){
                    drawIndex = 0;
                }
                $(drawList[drawArr[drawIndex]]).attr('class','draw-default');
                $(drawList[drawArr[drawIndex]]).siblings().removeClass('draw-default');

                eachDraw();
                drawIndex ++;
            },timeIndex);
        }else{
            setTimeout(function(){
                draw = true;
                drawFalg = true;
            },1000);
        }
    }


    $(function(){
        var marqueeH = $('#marquee ul').children * 20;
        var marquee = document.getElementById('marquee');
        var marqueeH = 20 * 20;
        marquee.style.height = marqueeH+'px';
        var offset=0;
        var scrollheight =marquee.offsetHeight;
        var firstNode = marquee.children[0].cloneNode(true);
        marquee.appendChild(firstNode);//还有这里
        setInterval(function(){
            if(offset == scrollheight){
                offset = 0;
            }
            marquee.style.marginTop = "-"+offset+"px";
            offset += 1;
        },50);
    });

</script>



</body>
</html>
<script>
    console.info('times',window.localStorage.getItem('times'));
</script>