<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
<div class="iby-index">
    <div class="iby-rules">
        <img src="/images/luckydraw/BG.png" alt="">
    </div>
</div>
</body>
</html>
