<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
</head>
<body>
<div class="iby-index">
    <div class="iby-rules">
        <a href="/game/start"><img src="/images/luckydraw/btn.png" alt=""></a>
    </div>
</div>
</body>
</html>
