body {
    background-color: #414040;
    font: 14px Helvetica, Arial, sans-serif, "Microsoft Yahei";
    min-height: 480px
}

img {
    width: 100%
}

a:focus,
a:hover {
    text-decoration: none
}

input:focus {
    outline: none
}

.center {
    text-align: center
}

.btn {
    padding: 4px 12px
}

.btn-primary {
    background-color: #F8D21C;
    border: 0;
    border-radius: 15px/50%;
    color: #4A4A4A;
    line-height: 25px;
    width: 100%
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:hover {
    background-color: #F8D21C;
    color: #4A4A4A;
    outline: none;
    box-shadow: none
}

.btn-default {
    background-color: #F8D21C;
    border: 0;
    border-radius: 15px/50%;
    color: #4A4A4A;
    line-height: 25px;
    width: 100%;
    background-color: #fff
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover {
    background-color: #F8D21C;
    color: #4A4A4A;
    outline: none;
    box-shadow: none
}

.no-data {
    color: #9B9B9B;
    text-align: center
}

.loading-bubble {
    width: 70px;
    margin: 0 auto;
    display: block
}

.error-modal {
    position: fixed;
    display: none;
    bottom: 30%;
    padding: 20px;
    text-align: center;
    background-color: #2B2929;
    border-radius: 5px;
    width: 60%;
    left: 20%;
    color: #777
}

.no-data {
    padding: 15px;
    text-align: center
}

.loading-modal {
    width: 200px;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 30%;
    left: -moz-calc(50% - 100px);
    left: -o-calc(50% - 100px);
    left: -webkit-calc(50% - 100px);
    left: calc(50% - 100px);
    background-color: #333232;
    border-radius: 5px
}

.loading-modal p {
    margin-bottom: 0;
    color: #777
}

.need-sign-in .btn {
    width: 45%
}

.need-sign-in .buttons {
    width: 100%
}

.need-sign-in .cancel,
.need-sign-in .confirm {
    width: 47%;
    display: inline-block
}

.need-sign-in .cancel {
    margin-right: 4%
}

.need-sign-in .p {
    margin-bottom: 20px
}

.weChatInput {
    width: 100%;
    opacity: 0
}

#home {
    padding-bottom: 50px
}

#home .artwork-ranking {
    margin: 10px 0
}

#home .table-label,
#home .table-value {
    width: 100%
}

#home .table-label span,
#home .table-label div,
#home .table-value span,
#home .table-value div {
    display: inline-block;
    width: 32.3%;
    text-align: center;
    line-height: 20px;
    color: #F2F2F2
}

#home .table-value {
    margin-bottom: 10px
}

#home .table-value span.summary-number {
    color: #F8D21C !important
}

#home .trophy {
    height: 50px;
    background-color: #F8D21C;
    text-align: center;
    border-radius: 15px/50%;
    margin: 10px;
}

#home .trophy span {
    line-height: 50px;
    position: relative;
    top: -17px
}

#home .trophy i {
    width: 34px;
    height: 38px;
    background: url("../images/cup.png") no-repeat;
    position: relative;
    display: inline-block;
    background-size: contain;
    margin-top: 9px;
    left: -10px
}

#home .more {
    float: right
}

#home .panel {
    background-color: #2B2929;
    border: 0;
    border-radius: 0;
    margin: 0 0 10px 0
}

#home .panel-body {
    padding-top: 0
}

#home .panel-default>.panel-heading {
    background-color: #2B2929;
    color: #777;
    border-radius: 0;
    border-bottom-width: 0
}

#home .panel-default>.panel-heading a {
    color: #777
}

#home .photo-overview .photo {
    width: 32%;
    height: 100px;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden
}

#home .photo-overview .photo:not(:nth-child(3)) {
    margin-right: 2%
}

#home .photo-overview .photo .triangle-topRight {
    float: right;
    width: 0;
    height: 0;
    border-top: 15px solid #F8D21C;
    border-left: 20px solid transparent
}

header {
    color: #777;
    background-color: #2B2929;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    padding-top: 15px;
    width: 100%
}

header .header-content {
    float: left;
    padding-bottom: 10px;
    width: 100%
}

header .back {
    padding-left: 0;
    position: relative;
    top: 1px;
    left: 2px
}

header .back img {
    width: 13px;
    position: relative;
    left: 12px;
    top: -2px
}

header .title {
    text-align: center
}

header .back {
    color: #F8D21C
}

footer.footer {
    bottom: -1px;
    height: 50px;
    position: fixed;
    width: 100%
}

footer.footer .footer-content {
    position: relative;
    height: 100%
}

footer.footer .default-icon,
footer.footer .active-icon {
    width: 30px;
    display: block;
    margin: 0 auto
}

footer.footer .active-icon {
    display: none
}

footer.footer a:last-child span {
    border-right: 0
}

footer.footer span {
    position: relative;
    text-align: center;
    padding-top: 2px;
    border-right: 1px solid #1F2022;
    background-color: #2B2929;
    color: #9B9B9B;
    padding-bottom: 2px
}

footer.footer span:hover,
footer.footer span.selected {
    background-color: #1F2022;
    color: #F8D21C
}

footer.footer span:hover .default-icon,
footer.footer span.selected .default-icon {
    display: none
}

footer.footer span:hover .active-icon,
footer.footer span.selected .active-icon {
    display: block
}

footer.footer .upload-box {
    position: relative;
    overflow: hidden
}

footer.footer .upload-box img {
    position: relative;
    z-index: 20
}

footer.footer .upload-box .upload-image {
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 50px;
    z-index: 200;
    left: 0;
    width: 100%
}

footer.footer .upload-box .upload-image div {
    width: 100%;
    height: 100%
}

footer.footer .upload-box .need-login {
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 50px;
    z-index: 200;
    width: 100%;
    left: 0;
    background-color: transparent;
    border: 0
}

.bind-sign-in {
    display: none;
    width: 220px;
    position: fixed;
    bottom: 30%;
    left: -moz-calc(50% - 110px);
    left: -o-calc(50% - 110px);
    left: -webkit-calc(50% - 110px);
    left: calc(50% - 110px);
    padding: 20px;
    background-color: #2B2929;
    color: #fff;
    border-radius: 5px;
    z-index: 1000
}

.bind-sign-in p {
    text-align: center
}

.bind-sign-in .btn {
    width: 45%
}

.bind-sign-in .buttons {
    width: 100%
}

.bind-sign-in .cancel,
.bind-sign-in .confirm {
    width: 47%;
    display: inline-block
}

.bind-sign-in .cancel {
    margin-right: 4%
}

.bind-sign-in p {
    margin-bottom: 20px
}

.bind-sign-in .buttons span {
    float: left
}

#point-rules {
    padding-top: 20px
}

#point-rules table {
    background-color: #585858;
    color: #fff
}

#point-rules th,
#point-rules td {
    text-align: center;
    border-bottom: 1px solid #414040
}

#point-rules th {
    line-height: 30px
}

#point-rules .yellow {
    color: #FFC72B
}

#my-page {
    width: 100%;
    padding-bottom: 40px;
    float: left
}

#my-page>div {
    padding-bottom: 15px
}

#my-page .header-content {
    height: 123px
}

#my-page .avatar {
    margin-top: 15px;
    overflow: hidden;
    padding-right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center
}

#my-page .nick-name {
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#my-page .points {
    color: #FFC72B
}

#my-page .point-icon {
    width: 18px;
    height: 15px;
    position: relative;
    top: -1px
}

#my-page .points,
#my-page .point-store {
    margin-top: 10px;
    margin-bottom: 5px
}

#my-page .points.btn-default,
#my-page .point-store.btn-default {
    background-color: #F8D21C;
    border: 0;
    border-radius: 15px/50%;
    color: #4A4A4A;
    line-height: 25px;
    width: 100%
}

#my-page .points.btn-default:hover,
#my-page .points.btn-default:focus,
#my-page .points.btn-default:active,
#my-page .points.btn-default:active:hover,
#my-page .point-store.btn-default:hover,
#my-page .point-store.btn-default:focus,
#my-page .point-store.btn-default:active,
#my-page .point-store.btn-default:active:hover {
    background-color: #F8D21C;
    color: #4A4A4A;
    outline: none;
    box-shadow: none
}

#my-page .btn-gift {
    background-color: #037AFF;
    color: #fff;
    margin-top: 3px;
    margin-bottom: 8px
}

#my-page footer {
    bottom: -1px;
    height: 50px;
    position: fixed;
    width: 100%
}

#my-page footer .footer-content {
    position: relative;
    height: 100%
}

#my-page footer .default-icon,
#my-page footer .active-icon {
    width: 30px;
    display: block;
    margin: 0 auto
}

#my-page footer .active-icon {
    display: none
}

#my-page footer a:last-child span {
    border-right: 0
}

#my-page footer span {
    position: relative;
    text-align: center;
    padding-top: 2px;
    border-right: 1px solid #1F2022;
    background-color: #2B2929;
    color: #9B9B9B;
    padding-bottom: 2px
}

#my-page footer span:hover,
#my-page footer span.selected {
    background-color: #1F2022;
    color: #F8D21C
}

#my-page footer span:hover .default-icon,
#my-page footer span.selected .default-icon {
    display: none
}

#my-page footer span:hover .active-icon,
#my-page footer span.selected .active-icon {
    display: block
}

#my-page footer .upload-box {
    position: relative;
    overflow: hidden
}

#my-page footer .upload-box img {
    position: relative;
    z-index: 20
}

#my-page footer .upload-box .upload-image {
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 50px;
    z-index: 200;
    left: 0;
    width: 100%
}

#my-page footer .upload-box .upload-image div {
    width: 100%;
    height: 100%
}

#my-page footer .upload-box .need-login {
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 50px;
    z-index: 200;
    width: 100%;
    left: 0;
    background-color: transparent;
    border: 0
}

#rewards {
    background-color: #fff;
    position: relative;
    margin-top: -10px
}

#rewards .rewards-list {
    margin-bottom: 10px
}

#rewards .rewards-item {
    width: 50%;
    height: 220px;
    float: left
}

#rewards .rewards-item:not(last-child) {
    border-bottom: 1px solid #E3E3E3
}

#rewards .rewards-item:not(last-child):nth-child(odd) .content {
    border-right: 1px solid #E3E3E3
}

#rewards .rewards-item .content {
    height: 100%;
    padding: 10px;
    position: relative
}

#rewards .rewards-item p {
    line-height: 16px;
    margin: 0
}

#rewards .rewards-item .desc {
    color: #9B9B9B
}

#rewards .rewards-item .img-container {
    position: absolute;
    bottom: 0;
    width: 100%
}

#rewards .rewards-item img {
    width: auto;
    max-height: 100%;
    display: block;
    margin: 24px auto;
    height: 110px
}

#rewards .rewards-item:nth-child(3) img,
#rewards .rewards-item:nth-child(11) img {
    height: 90px;
    position: relative;
    top: 20px
}

#rewards .rewards-item:first-child img {
    margin-top: 40px
}

#rewards .btn-primary {
    width: 94%;
    background-color: #037AFF;
    color: #fff;
    margin: 10px 3% 8px
}

#add-artwork {
    color: #9B9B9B
}

#add-artwork .new-photo {
    overflow: hidden
}

#add-artwork .new-photo img {
    border-radius: 5px;
    max-height: 200px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 10px
}

#add-artwork form {
    margin: 20px 0
}

#add-artwork form .label {
    margin-left: 3px
}

#add-artwork .form-control {
    background-color: #585858;
    border: 0;
    color: #9B9B9B
}

#add-artwork .form-control:focus {
    outline: none;
    box-shadow: none
}

#add-artwork .select-type {
    color: #fff
}

#add-artwork .select-type i {
    float: right;
    font-size: 16px
}

#add-artwork .keywords-textarea {
    margin-bottom: 5px
}

#add-artwork .keyword-option {
    color: #9B9B9B;
    border-radius: 10px/50%;
    padding: 1px 15px;
    margin-right: 2px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 2px
}

#add-artwork .keyword-option.selected {
    background-color: #C7C7C7;
    color: #A8A8A8
}

#add-artwork button {
    margin-top: 20px;
    background-color: #F8D21C;
    border: 0;
    border-radius: 15px/50%;
    color: #4A4A4A;
    line-height: 25px;
    width: 100%
}

#add-artwork button:hover,
#add-artwork button:focus,
#add-artwork button:active,
#add-artwork button:active:hover {
    background-color: #F8D21C;
    color: #4A4A4A;
    outline: none;
    box-shadow: none
}

#add-artwork .asterisk {
    color: #D1603D;
    position: relative;
    top: 3px
}

#add-artwork .option {
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #585858;
    margin-bottom: 1px
}

#add-artwork .option img {
    width: 20px;
    float: right
}

#add-artwork .submit-success,#artwork-details .submit-success{
    width: 220px;
    position: fixed;
    bottom: 30%;
    left: -moz-calc(50% - 110px);
    left: -o-calc(50% - 110px);
    left: -webkit-calc(50% - 110px);
    left: calc(50% - 110px);
    padding: 20px;
    background-color: #2B2929;
    color: #fff;
    border-radius: 5px
}

#add-artwork .submit-success p,#artwork-details .submit-success p {
    text-align: center
}

#add-artwork .submit-success .btn,#artwork-details .submit-success .btn{
    width: 134px;
    text-align: center;
    display: block;
    margin: 0 auto
}

#point-store .coupon-stores {
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px 15px 10px;
    background-size: 20%
}

#point-store .yellow {
    background: url("../images/coupon.png") top repeat-x #FEFFF1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px 15px 10px;
    background-size: 20%
}

#point-store .pink {
    background: url("../images/coupon-pink.png") top repeat-x #FEFFF1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px 15px 10px;
    background-size: 20%
}

#point-store .coupon-stores.used {
    background: url("../images/couponUsed.png") top repeat-x #F2F2F2;
    background-size: 20%;
    color: #9B9B9B
}

#point-store .coupon-stores.used .left {
    border-right-color: #9B9B9B
}

#point-store .coupon-stores>div {
    line-height: 40px
}

#point-store .coupon-stores>div:first-child {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    text-align: center
}

#point-store  .yellowLine {
    border-right: 2px dotted  #FFC72B;
}

#point-store  .pinkLine {
    border-right: 2px dotted #ff8b8b;
}

#point-store .coupon-stores>div:nth-child(2) {
    line-height: 20px
}

#point-store .coupon-stores p {
    margin: 0
}

.coupon-page .point-links {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    border-bottom: 1px solid #FFC72B;
    margin-bottom: 20px
}

.coupon-page .point-links a {
    color: #fff;
    line-height: 30px
}

.coupon-page .point-links a:first-child {
    border-right: 1px solid #FFC72B
}

#coupon-list .coupons {
    background: url("../images/coupon.png") top repeat-x #FEFFF1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px 15px 10px;
    background-size: 20%
}

#coupon-list .coupons.used {
    background: url("../images/couponUsed.png") top repeat-x #F2F2F2;
    background-size: 20%;
    color: #9B9B9B
}

#coupon-list .coupons.used .left {
    border-right-color: #9B9B9B
}

#coupon-list .coupons>div {
    line-height: 40px
}

#coupon-list .coupons>div:first-child {
    font-size: 24px;
    font-weight: bold;
    border-right: 2px dotted #FFC72B;
    padding: 0;
    text-align: center
}

#coupon-list .coupons>div:nth-child(2) {
    line-height: 20px
}

#coupon-list .coupons p {
    margin: 0
}

#my-points {
    padding-top: 15px
}

#my-points .point-circle {
    width: 115px;
    height: 110px;
    border-radius: 50%;
    background-color: #F8D21C;
    text-align: center;
    padding-top: 35px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

#my-points .point-circle .points {
    font-size: 24px;
    font-weight: bold
}

#my-points .bottom-right {
    width: 100%;
    text-align: right;
    position: relative;
    top: -20px;
    color: #51A1FF
}

#my-points .bottom-right img {
    width: 20px;
    position: relative;
    right: 3px;
    top: -2px
}

#my-points .point-history-list {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    background-color: #6B6A6A;
    padding: 10px 0;
    color: #fff
}

#my-points .point-history-list .left {
    line-height: 20px
}

#my-points .point-history-list .right {
    line-height: 40px;
    font-size: 22px;
    color: #FFC72B
}

#my-points .point-history-list .right.red {
    color: #ff0000
}

#my-points .point-history-list .title {
    font-size: 16px;
    max-width: 150px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#my-points .point-history-list .date {
    font-size: 14px;
    color: #9B9B9B
}

.photo-gallery {
    position: relative;
    float: left
}

.photo-gallery .floatPhoto {
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    overflow: hidden
}

.photo-gallery .floatPhoto img {
    width: 100%
}

.photo-gallery .floatPhoto .photoVote,
.photo-gallery .floatPhoto .photoRank,
.photo-gallery .floatPhoto .photoStatus {
    color: #fff;
    position: absolute;
    height: 20px;
    bottom: 5px;
    left: 5px;
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 10px/50%;
    text-align: center;
    line-height: 20px;
    padding: 0 10px;
    font-size: 12px
}

.photo-gallery .floatPhoto .photoStatus {
    right: 5px;
    left: auto;
    padding: 0 10px
}

.photo-gallery .floatPhoto .photoRank {
    top: 5px;
    left: 5px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #777;
    color: #4A4A4A
}

.photo-gallery .floatPhoto .triangle-topRight {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 15px solid #F8D21C;
    border-left: 20px solid transparent
}

.photo-gallery .load-more {
    display: block;
    width: 100%;
    text-align: center;
    float: left;
    color: #9B9B9B
}

.photo-gallery .loading-bubbles {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    display: block
}

.photo-gallery .deckgrid {
    float: left
}

.gallery-box {
    position: relative
}

.gallery-box .modalWindow {
    position: fixed;
    bottom: 30%;
    width: 100%;
    display: none;
    text-align: center
}

.gallery-box .modalWindow .content {
    width: 240px;
    margin: 0 auto;
    background-color: #2B2929;
    color: #fff;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px
}

.gallery-box .modalWindow {
    position: fixed
}

.deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
    font-size: 0;
    visibility: hidden
}

.deckgrid .column {
    float: left
}

.deckgrid .column-1-2 {
    width: 49%
}

.deckgrid .column-1-2:first-child {
    margin-right: 2%
}

.fix-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #2B2929;
    padding-top: 5px;
    z-index: 1000;
}

.fix-bottom .vote-btn {
    padding-right: 7.5px
}

.fix-bottom .share-btn {
    padding-left: 7.5px
}

#artwork-details {
/*    padding-bottom: 70px;*/
    position: relative
}

#artwork-details .modalWindow {
    position: fixed;
    bottom: 30%;
    width: 100%;
    display: none;
    text-align: center
}

#artwork-details .modalWindow .content {
    width: 240px;
    margin: 0 auto;
    background-color: #2B2929;
    color: #fff;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px
}


/*
 * 作品详情 - 投票成功
 */

.photo-list .modalWindowVote,
#my-page .modalWindowVote,
#personal-page .modalWindowVote,
#artwork-details .modalWindowVote,
#luckydraw-details .modalWindowVote{
    position: fixed;
    bottom: 50%;
    margin-bottom:-200px;
    height: 400px;
    width: 100%;
    display: none;
    text-align: center
}

#luckydraw-details .modalWindowVote{
    z-index: 200;
    display: block;
}

#home .modalWindowVote{
    position: fixed;
    bottom: 50%;
    margin-bottom:-200px;
    height: 400px;
    width: 100%;
    text-align: center;
    z-index: 100;
}

.photo-list .modalWindowVote .content,
#my-page .modalWindowVote .content,
#personal-page .modalWindowVote .content,
#artwork-details .modalWindowVote .content,
#luckydraw-details .modalWindowVote .content,
#home .modalWindowVote .content {
    width: 240px;
    margin: 0 auto;
    background-color: #2B2929;
    color: #fff;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px
}


#luckydraw-details .modalWindowVote .content {
    background-color: #f6e011;
    border: 1px solid #e89a1e;
    padding: 0;
    color: #f11a00;
    font-size: 14px;
}

#luckydraw-details .modalWindowVote .content p img{
    width: 64px;
    height: 25px;
}

#luckydraw-details .modalWindowVote .content p input{
    padding: 0 5px;
}
/*
 * 关闭按钮
 */

#coupon-details .modalWindow .content .fa-close,
.photo-list .modalWindowVote .content .fa-close,
#my-page .modalWindowVote .content .fa-close,
#personal-page .modalWindowVote .content .fa-close,
#artwork-details .modalWindowVote .content .fa-close,
#home .modalWindowVote .content .fa-close{
    position: absolute;
    top: 5px;
    right: 5px;
}


#artwork-details .author-detail {
    height: 80px;
    padding: 10px;
    background: transparent
}

#artwork-details .author-detail h5 {
    margin-bottom: 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#artwork-details .author-detail h5 a {
    color: #fff
}

#artwork-details .avatar {
    height: 60px;
    width: 60px;
    float: left;
    background-size: cover;
    background-position: center
}

#artwork-details .btn {
    width: 100%;
    height: 30px
}

#artwork-details .center-content,
#add-artwork .center-content {
    background-color: #F2F2F2;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden
}

#artwork-details h5 a {
    color: #fff
}

#artwork-details p {
    color: #777
}

#artwork-details .gift-remind-tipContent p {
    color: #fff
}

#artwork-details .vote-ranking span {
    display: inline-block;
    background-color: #fff;
    width: 46%;
    font-size: 14px;
    line-height: 30px;
    margin: 10px 2% 0;
    text-align: center;
    border-radius: 5px
}

#artwork-details .vote-ranking span .number {
    font-size: 16px;
    font-style: normal;
    position: relative;
    top: 1px
}

#artwork-details .vote-ranking span:first-child {
    margin-right: 0;
    margin-left: 3%
}

#artwork-details .vote-ranking span:last-child {
    margin-left: 1%
}

#artwork-details .vote-ranking .vote {
    background: url("../images/vote.png") no-repeat
}

#artwork-details .vote-ranking .ranking {
    background: url("../images/ranking.png") no-repeat
}

#artwork-details .vote-ranking .icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    position: relative;
    display: inline-block;
    top: 4px;
    right: 10px
}

#artwork-details .details {
    padding: 15px
}

#artwork-details .details .line {
    line-height: 22px;
    width: 100%;
    float: left
}

#artwork-details .details .name,
#artwork-details .details .value {
    padding: 5px 3px;
    float: left
}

#artwork-details .details .name.title,
#artwork-details .details .value.title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#artwork-details .details .name {
    width: 76px
}

#artwork-details .details .value {
    max-width: -moz-calc(100% - 76px);
    max-width: -o-calc(100% - 76px);
    max-width: -webkit-calc(100% - 76px);
    max-width: calc(100% - 76px)
}

#artwork-details .details .keyword {
    color: #9B9B9B;
    border: 1px solid #E3E3E3;
    border-radius: 10px/50%;
    padding: 1px 15px;
    margin-right: 5px;
    background-color: #fff;
    display: inline-block
}

#artwork-details .notification {
    text-align: center;
    margin: 10px auto;
    color: white
}

#artwork-details .promote-link {
    width: 100%;
    padding: 15px;
    text-align: center;
    color: #CECECE
}

#artwork-details .promote-link a {
    color: #FFC72B
}

#artwork-details .gift-desc {
    padding: 10px
}

#artwork-details .gift-desc p,
#artwork-details .gift-desc li {
    color: #CECECE
}

#artwork-details .gift-desc ol {
    padding-left: 21px;
    margin-bottom: 20px
}

#artwork-details .btn-primary {
    background-color: #F8D21C;
    border: 0;
    border-radius: 15px/50%;
    color: #4A4A4A;
    line-height: 25px;
    width: 100%
}

#artwork-details .btn-primary:hover,
#artwork-details .btn-primary:focus,
#artwork-details .btn-primary:active,
#artwork-details .btn-primary:active:hover {
    background-color: #F8D21C;
    color: #4A4A4A;
    outline: none;
    box-shadow: none
}

#artwork-details .share-btn {
    position: relative
}

#artwork-details .share-btn .btn,
#artwork-details .share-btn .btn:active:hover {
    background-color: #037AFF;
    color: #fff
}

#artwork-details .fullModal,#add-artwork .fullModal {
    width: 100%;
    height: -moz-calc(100% + 70px);
    height: -o-calc(100% + 70px);
    height: -webkit-calc(100% + 70px);
    height: calc(100% + 70px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.6);
    display: none;
    color: #fff
}

#artwork-details .fullModal .arrow,#add-artwork .fullModal .arrow {
    width: 100px;
    position: fixed;
    right: 5px
}

#artwork-details .share-modal ,
#mascot-details .share-modal,
#add-artwork .share-modal{
    width: 240px;
    left: -moz-calc(50% - 120px);
    left: -o-calc(50% - 120px);
    left: -webkit-calc(50% - 120px);
    left: calc(50% - 120px);
    bottom: 30%;
    position: fixed;
    background-color: #2B2929;
    padding: 20px 0;
    color: #9B9B9B;
    border-radius: 5px;
    display: none
}

#artwork-details .share-modal h5,#mascot-details .share-modal h5,#add-artwork .share-modal h5,
#artwork-details .share-modal>.col-xs-8,#mascot-details .share-modal>.col-xs-8 {
    text-align: right;
    padding: 0
}

#artwork-details .share-modal .btn, #mascot-details .share-modal .btn ,#add-artwork .share-modal .btn{
    background-color: #E3E3E3;
    width: 70px;
    display: block;
    margin: 60px auto 0
}

#artwork-details .share-modal .bdshare-button-style0-24 .bds_more ,#mascot-details .share-modal .bdshare-button-style0-24 .bds_more,#add-artwork .share-modal .bdshare-button-style0-24 .bds_more{
    color: #777
}

#artwork-details .need-sign-in .btn {
    width: 45%
}

#artwork-details .need-sign-in .buttons {
    width: 100%
}

#artwork-details .need-sign-in .cancel,
#artwork-details .need-sign-in .confirm {
    width: 47%;
    display: inline-block
}

#artwork-details .need-sign-in .cancel {
    margin-right: 4%
}

#artwork-details .company-slogan-box{
     width: 210px;
     margin: 0 auto;
     text-align: left;
     color: #333;
 }

#artwork-details .company-slogan-line{
    color:#333;
    border:1px solid #B5B5B6;
    margin-bottom: 10px;
}

#artwork-details .company-slogan-box p{
    color: #333;
}

#artwork-details .company-slogan-content{
    background-color: #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
    margin:10px;
    padding:10px 0px;
    line-height: 15px;
    text-align: center;
}

#artwork-details .gift-remind-tipContent{
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

#artwork-details .gift-remind-tipContent h3{
    font-size: 15px;
}

#artwork-details .gift-remind-tipContent h1{
    font-size: 20px;
}

.gift-remind-name{
    width:66px;
    display: inline-block;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

body .bd_weixin_popup .bd_weixin_popup_main {
    padding: 9px 10px
}

#coupon-details {
    float: left;
    width: 100%;
    position: relative
}

#coupon-details .modalWindow {
    position: fixed;
    bottom: 30%;
    width: 100%;
    display: none;
    text-align: center
}

#coupon-details .modalWindow .content {
    width: 240px;
    margin: 0 auto;
    background-color: #2B2929;
    color: #fff;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px
}

#coupon-details .content {
    padding-bottom: 50px
}

#coupon-details .content img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px
}

#coupon-details .title,#exchange-detail .title {
    color: #9B9B9B
}

#coupon-details .description ,#exchange-detail .description{
    color: #fff
}

#coupon-details .points {
    color: #F8D21C;
    line-height: 30px
}

#coupon-details .number {
    font-size: 22px;
    position: relative;
    top: 2px
}

#coupon-details .exchange-btn {
    float: right;
    width: 22%;
    margin-right: 3%
}

#coupon-details .exchange-confirm .btn {
    width: 45%
}

#coupon-details .exchange-confirm .buttons {
    width: 100%
}

#coupon-details .exchange-confirm .cancel,
#coupon-details .exchange-confirm .confirm {
    width: 47%;
    display: inline-block
}

#coupon-details .exchange-confirm .cancel {
    margin-right: 4%
}

#coupon-details .exchange-success img {
    width: 100px
}

#sign-in {
    color: #9B9B9B
}

#sign-in p {
    text-align: center;
    line-height: 24px;
    margin: 25px auto
}

#sign-in .btn {
    width: 100%;
    margin: 10px 0
}

#sign-in .sign-in-input {
    margin: 15px auto;
    position: relative
}

#sign-in .sign-in-input .right-btn {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 20px;
    height: 30px;
    padding: 5px 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

#sign-in .sign-in-input .right-btn img {
    width: 30px;
    position: relative;
    top: 2px
}

#sign-in .sign-in-input input {
    border: 0;
    width: 100%;
    padding: 5px 20px;
    line-height: 25px;
    border-radius: 15px/50%;
    background-color: #fff
}

#sign-in .btn-signIn {
    background-color: #037AFF;
    color: #fff
}

#sign-up {
    color: #9B9B9B
}

#sign-up p {
    text-align: center;
    line-height: 24px;
    margin: 25px auto
}

#sign-up .sign-up-input {
    margin: 15px auto;
    position: relative
}

#sign-up .sign-up-input .right-btn {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 25px;
    background-color: #F8D21C;
    padding: 5px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px
}

#sign-up .sign-up-input .right-btn.code {
    background-color: #E3E3E3
}

#sign-up .sign-up-input .right-btn.toggle-password {
    background-color: transparent
}

#sign-up .sign-up-input .right-btn.toggle-password img {
    width: 30px
}

#sign-up .sign-up-input .get-identify-code {
    color: #4A4A4A
}

#sign-up .sign-up-input .countdown {
    background-color: #E3E3E3;
    color: #777
}

#sign-up .sign-up-input input {
    border: 0;
    width: 100%;
    padding: 5px 20px;
    line-height: 25px;
    border-radius: 15px/50%;
    background-color: #fff
}

#sign-up .direct-sign-in {
    margin: 20px auto;
    text-align: center
}

#sign-up .direct-sign-in a {
    color: #51A1FF;
    border-bottom: 1px solid #51A1FF
}

#sign-up .btn {
    margin-top: 20px
}

.error-message {
    color: #D1603D;
    padding: 5px;
    display: block
}

.photo-list .header {
    width: 100%;
    height: 30px;
    border: 1px solid #F8D21C;
    border-radius: 15px/50%;
    margin: 10px 0;
    overflow: hidden
}

.photo-list .header a {
    width: 50%;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 28px;
    color: #FFC72B
}

.photo-list .header a.selected {
    background-color: #F8D21C;
    color: #4A4A4A
}

.photo-list .header a span {
    width: 100%
}

.photo-list .photos-box {
    float: left
}

#rankingList {
    padding-top: 10px
}

#exchange-history {
    padding-top: 10px
}

#exchange-history p {
    margin-bottom: 0
}

#exchange-history .exchange-list {
    background: url("../images/coupon.png") top repeat-x #FEFFF1;
    border-radius: 5px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 0 7px;
    background-size: 20%
}

#exchange-history .exchange-list.used {
    background: url("../images/couponUsed.png") top repeat-x #F2F2F2;
    background-size: 20%;
    color: #9B9B9B
}

#exchange-history .exchange-list.used .center {
    border-left-color: #9B9B9B
}

#exchange-history .exchange-list .left,
#exchange-history .exchange-list .center,
#exchange-history .exchange-list .right {
    float: left
}

#exchange-history .exchange-list .left {
    width: 20%;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    top: 8px
}

#exchange-history .exchange-list .center {
    width: 63%;
    text-align: left;
    border-left: 2px dotted #FFC72B;
    padding-left: 5px;
    margin-top: 4px
}

#exchange-history .exchange-list .center .title {
    font-size: 14px;
    margin: 4px 5px 5px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#exchange-history .exchange-list .center .date {
    color: #9B9B9B;
    font-size: 12px
}

#exchange-history .exchange-list .center div {
    margin-left: 5px
}

#exchange-history .exchange-list .right {
    width: 17%;
    line-height: 40px
}

#exchange-detail {
    padding: 15px;
    position: relative
}

#exchange-detail p {
    margin-bottom: 0
}

#exchange-detail .modalWindow {
    position: fixed;
    bottom: 30%;
    width: 100%;
    display: none;
    text-align: center
}

#exchange-detail .modalWindow .content {
    width: 240px;
    margin: 0 auto;
    background-color: #2B2929;
    color: #fff;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 10px
}

#exchange-detail .modalWindow {
    position: fixed;
    top: 30%;
    width: 240px;
    left: -moz-calc(50% - 120px);
    left: -o-calc(50% - 120px);
    left: -webkit-calc(50% - 120px);
    left: calc(50% - 120px)
}

#exchange-detail .coupon-exchange-detail {
    height: 85px;
    background: url("../images/coupon.png") top repeat-x #FEFFF1;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 25px 15px 10px;
    background-size: 20%
}

#exchange-detail .coupon-exchange-detail.used {
    background: url("../images/couponUsed.png") top repeat-x #F2F2F2;
    background-size: 20%;
    color: #9B9B9B
}

#exchange-detail .coupon-exchange-detail.used .left {
    border-right-color: #9B9B9B
}

#exchange-detail .coupon-exchange-detail>div {
    line-height: 40px
}

#exchange-detail .coupon-exchange-detail>div:first-child {
    font-size: 24px;
    font-weight: bold;
    border-right: 2px dotted #FFC72B;
    padding: 0;
    text-align: center
}

#exchange-detail .coupon-exchange-detail>div:nth-child(2) {
    line-height: 20px
}

#exchange-detail .coupon-exchange-detail .left {
    width: 20%;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-right: 2px dotted #FFC72B
}

#exchange-detail .coupon-exchange-detail .center {
    line-height: 22px
}

#exchange-detail .left,
#exchange-detail .center,
#exchange-detail .right {
    display: inline-block;
    float: left
}

#exchange-detail .center {
    width: 60%;
    text-align: left
}

#exchange-detail .center .title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

#exchange-detail .center .date {
    font-size: 12px;
    color: #9B9B9B
}

#exchange-detail .center div {
    margin-left: 10px
}

#exchange-detail .right {
    width: 17%;
    line-height: 40px
}

#exchange-detail .qrCode {
    color: #9B9B9B;
    text-align: center
}

#exchange-detail .qrCode img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 10px
}

#exchange-detail .exchange-confirm .btn {
    width: 45%
}

#exchange-detail .exchange-confirm .buttons {
    width: 100%
}

#exchange-detail .exchange-confirm .cancel,
#exchange-detail .exchange-confirm .confirm {
    width: 47%;
    display: inline-block
}

#exchange-detail .exchange-confirm .cancel {
    margin-right: 4%
}

#exchange-detail .exchange-success {
    top: 20%
}

#exchange-detail .exchange-success img {
    width: 100px
}

#personal-page .personal-info {
    float: left;
    width: 100%;
    margin-bottom: 15px
}

#personal-page .avatar {
    margin-top: 15px;
    overflow: hidden;
    padding-right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center
}

#personal-page .nick-name {
    line-height: 70px;
    font-size: 16px;
    color: white
}

#activity-details{
    height: 55px;
    width: 100%;
    padding: 0;
}

#activity-details li{
    float: left;
    width: 25%;
    line-height: 55px;
    height: 55px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    list-style: none;
    border-bottom: 1px solid #ffffff;
}

#activity-details .activity-details-on{
    color: #f8d31b;
    border-bottom: 2px solid #f8d31b;
}

.details-description div{
    padding: 0 50px 50px 50px;
}

.details-description div p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
}

.regulation-word{
    margin: 0 10px 0 10px;
}

.regulation-title{
    margin: 25px 0 25px 10px;
}

.yipaoCode{
    padding: 5px 80px;
}

.yipaoCode p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
}

.ibanyiCode{
    padding: 0 50px;
}

.ibanyiCode p{
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 60px;
}

.regulation{
    color: #ffffff;
    font-size: 15px;
}

.gift{
    margin-bottom: 50px;
}

.error-modal-box{
    position: relative;
}


.error-modal-box i{
    position: absolute;
    top:-10px;
    right: -10px;
}

#mascot-details .mascotInfo h3{
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}

#mascot-details .mascotInfo p,.mascotInfo p span{
    font-size: 14px;
    text-align: center;
    color: #b5b5b6;
}

#mascot-details .mascotInfo .uncheckBtn{
    height: 30px;
    width: 80px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 15px auto;
}

#mascot-details .mascotInfo .uncheckBtnBg{
    background-color: #ffffff;
    color: #4A4A4A;
}

#mascot-details .mascotInfo .checkBlue{
    background-color:  #037AFF;
    color: #ffffff;
}

#mascot-details .mascotInfo .checkGold{
    background-color: #F8D21C;
    color: #4A4A4A;
}

#mascot-details .company-slogan-content{
    background-color: #F2F2F2;
    border-radius: 5px;
    overflow: hidden;
    margin:15px 0;
    padding:10px 0px;
    line-height: 15px;
    text-align: center;
}

#mascot-details .company-slogan-line{
    background-color: #B5B5B6;
   height: 1px;
    margin-bottom: 10px;
}

#mascot-details .mascotImg{
    border-radius: 2px;
    border: 1px solid #b5b5b6;
    overflow: hidden;
}

#mascot-details .f18{
    font-size: 18px;
}

#mascot-details .weiboCode{
    margin: 0 auto;
    width: 40%;
}

#mascot-details .contant{
    font-size: 14px;
    margin-top: 10px;
}

#mascot-details .slogan-tip{
    width: 214px;
    margin: 0 auto;
    text-align: left;
}

#mascot-details .modalWindow {
    position: fixed;
    bottom: 30%;
    width: 100%;
    display: none;
    text-align: center
}

#mascot-details .checkRadio{
    width:100%;
    height: 30px;
    border: 1px solid red;
    display: block;
    position: absolute;
    margin: 0 auto 15px auto;
    opacity: 0;
}

#mascot-details .vote-feedback{
    background-color: #2b2929;
    color: #ffffff;
    width: 80%;
    margin: 0 auto;
}

#mascot-details .vote-feedback-tip{
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#mascot-details .vote-feedback-title{
    margin: 15px 10px 10px 10px;
}

#mascot-details .important-tip,#home .important-tip{
    color:#F8D21C ;
    font-size: 20px;
    margin-top: 15px;
}

#mascot-details .mt15{
    margin-top: 15px;
}

#mascot-details .scan-tip{
    font-size: 12px;
    line-height: 20px;
    margin: 10px;
}

#mascot-details  .color-red{
    color: #e6162d
}

#mascot-details .closeBtn{
    float: right;
    margin-right: 5px;
    margin-top: -3px;

}

.word-white-12{
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}

.word-white-left{
    /*text-indent: 2em;*/
    font-size: 12px;
    color: #ffffff;
    text-align: left;
    margin-left:10px;
    margin-right: 10px;
    line-height: 22px;
}

.activity-yellow{
    width: 320px;
    height: 300px;
    background-color: #f6e011;
    margin: 10px auto;
    text-align: center;
    border-radius: 8px;
    line-height: 300px;
}

.activity-yellow img{
    height: 278px;
    width: 219px;
}

.activity-title-name{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 20px auto
}

.activity-tip-word{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    margin: 30px auto 20px auto;
}

.activity-blue-btn{
    background-color: #037AFF;
    color: #fff;
    position: relative
}

.mb50{
    margin-bottom: 50px;
}

.activity-share-btn{
    width: 100px;
    background-color: #037AFF;
    text-align: center;
    height:30px;
    line-height: 30px;
    margin: 10px auto;
    color: #ffffff;
    border-radius: 15px/50%;
}

.rank-tip-yellow{
    color:#F8D21C ;
}


/*抽奖start*/
#luckydraw-details{
    position: relative;
}

#luckydraw-details .draw-bg{
    width: 100%;
    height: 100%;
    min-height: 667px;
}

#luckydraw-details .draw-bg img{
    width: 100%;
    height: 100%;
    min-height: 667px;
}

#luckydraw-details .draw-change{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 0;
    text-align: center;
    z-index: 2;
    font-weight: bold;
}

#luckydraw-details .draw-con-bg{
    width: 100%;
    height: 100%;
    min-height: 667px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#luckydraw-details .draw-con-bg img{
    height: 667px;
}

#luckydraw-details .draw-con{
    height: 228px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
}

#luckydraw-details .draw-con ul{
    margin: 0; 
    padding: 0;
}

#luckydraw-details .draw-con ul li{
    float: left;
    list-style-type: none;
}

#luckydraw-details .draw-con ul li.draw-default{
    background: rgba(0, 0, 0, 0.7);
/*    background: rgba(255, 255, 255, 0.7);*/
}

#luckydraw-details .draw-con ul li.draw-click{
    cursor: pointer;
}

#luckydraw-details .draw-cur {
    height: 32px;
    position: absolute;
    top: 0;
    left: 50%;
}

#luckydraw-details .draw-cur ul{
    margin: 0;
    padding: 0;
}

#luckydraw-details .draw-cur ul li{
    list-style: none;
    float: left;
    height: 35px;
}

#luckydraw-details .draw-cur ul li.mr10{
    margin-right: 10px;
}

#luckydraw-details .draw-cur ul li a{
    display: block;
    height: 100%;
    width: 100%;
}

#luckydraw-details .draw-list{
    max-height: 100%;
    overflow: hidden;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
}

#luckydraw-details .draw-list-con{
    border: 2px solid #85cb34;
    background: rgba(255, 255, 255, 0.4);
    max-height: 100px;
    overflow: hidden;
}

#luckydraw-details .draw-list-con ul{
    padding: 0;
    margin: 0;
}

#luckydraw-details .draw-list-con ul li{
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    text-align: center;
    overflow: hidden;
}

#luckydraw-details .list-line{
    border: 1px solid #85cb34;
}

#luckydraw-details .draw-list-con ul.list-ul1 li{
    color: #484848;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}

#luckydraw-details .draw-list-con ul.list-ul2{
    padding: 5px 0;
}

#luckydraw-details .draw-list-con ul.list-ul2 li{
    color: #fff;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    font-family: "Microsoft Yahei";
}

#luckydraw-details .draw-list-con ul.list-h-25{
    height: 25px;
    line-height: 25px;
}

#luckydraw-details .draw-list-con ul li.list-w-30{
    width: 30%;
}

#luckydraw-details .draw-list-con ul li.list-w-40{
    width: 40%;
}

#luckydraw-details .upload-li{ 
    position: relative;
}
#luckydraw-details .upload-image {
    position: absolute;
    top: 0;
    height: 100%;
    line-height: 50px;
    z-index: 200;
    left: 0;
    width: 100%
}

#luckydraw-details .upload-image div {
    width: 100%;
    height: 100%
}

@media only screen and (min-width: 320px){
    #luckydraw-details .draw-con-bg img{
        width: 320px;
    }
    
    #luckydraw-details .draw-con{
        width: 260px;
        margin: 234px 0 0 -130px;
    }
    
    #luckydraw-details .draw-con ul li{
        width: 65px;
        height: 76px;
    }
    
    #luckydraw-details .draw-con ul li.draw-click{
        width: 130px;
    }
    
    #luckydraw-details .draw-cur {
        width: 150px;
        margin: 253px 0 0 -75px;
    }
    
    #luckydraw-details .draw-cur ul li{
        width: 70px;
    }
    
    #luckydraw-details .draw-list{
        width: 284px;
        margin: 0 0 0 -142px;
        padding-top: 557px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 375px) { 
    #luckydraw-details .draw-con-bg img{
        width: 375px;
    }
    
    #luckydraw-details .draw-con{
        width: 304px;
        margin: 234px 0 0 -152px;
    }
    
    #luckydraw-details .draw-con ul li{
        width: 76px;
        height: 76px;
    }
    
    #luckydraw-details .draw-con ul li.draw-click{
        width: 152px;
    }
    
    #luckydraw-details .draw-cur {
        width: 176px;
        margin: 253px 0 0 -87px;
    }
    
    #luckydraw-details .draw-cur ul li{
        width: 83px;
    }
    
    #luckydraw-details .draw-list{
        width: 330px;
        margin: 0 0 0 -165px;
        padding-top: 557px;
        padding-bottom: 10px;
    }
}

#luckydraw-history .luckydraw-list{
    padding:10px;
}

#luckydraw-history .luckydraw-list ul{
    padding: 10px 0;
    clear: both;
}

#luckydraw-history .luckydraw-list ul li{
    padding: 0 3px;
    float: left;
    color: #fff;
    list-style: none;
    font-size: 14px;
}

#luckydraw-history .yellowLine{
    border-bottom: 1px solid #FFC72B;
    float: left;
    width: 50%;
}
/*抽奖 end*/